@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #23424a;
  padding: 6rem 4rem;
  color: #fff;
}

.container__text {
   margin: 0 auto;
}

.content {
    width: 50%;
    max-width: 29rem;
}

.title {
 font-weight: 700;
 margin-bottom: 0.6rem;
}

.text {
 font-weight: 300;
 line-height: 26px;
 margin-bottom: 3.5rem;
}

a {
  border: 1px solid #38CFD9;
  background-color: #38CFD9;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  border-radius: 25px;
  font-size: 0.8rem;
  color: #072A2D;
  font-weight: 600;
}

.cont {
  display: flex;
  margin: 2.5rem 0;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.col {
  text-align: center;
}

.cont h3 {
  font-size: 1.7rem;
  padding: 1rem 0;
}

.options {
  background-color: #136C72;
  color: #fff;
  display: flex;
  width: 25%;
  row-gap: 3rem;
  padding: 1rem;
  flex-direction: column;
}

.foot_section h3 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.designs h3 {
  color: #136C72;
  font-size: 2rem;
}

.designs {
  text-align: left;
  width: 45%;
}

.text_area {
  margin: 1rem;
  color:  #223c3d;
  line-height: 2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.2rem;
}