@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.container {
  width: 100%;
  background-color: #23424a;
  padding: 6rem 4rem;
  color: #fff;
}

.container__text {
   margin: 0 auto;
}

.content {
    width: 50%;
    max-width: 29rem;
}

.title {
 font-weight: 700;
 margin-bottom: 0.6rem;
}

.text {
 font-weight: 300;
 line-height: 26px;
 margin-bottom: 3.5rem;
}

a {
  border: 1px solid #38CFD9;
  background-color: #38CFD9;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  border-radius: 25px;
  font-size: 0.8rem;
  color: #072A2D;
  font-weight: 600;
}

.cont {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 4rem 0;
  gap: 1rem;
}

.col {
  text-align: center;
}

.cont h3 {
  color:#87629A;
  font-size: 1.7rem;
  padding: 1rem 0;
}

.foot_section {
  background-color: #136C72;
  display: flex;
  margin: 0 auto;
  gap: 1rem;
  padding: 4rem;
  color: #fff;
}

.foot_section h3 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}